@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 15rem;
}

.logoContainer img {
  animation: fadeDown 1s ease-in;
}
