@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.welcomeHeader {
  font-family: "Sedan SC";
  font-size: 40px;
  padding-top: 50px;
  padding-left: 100px;
  color: white;
  animation: fadeIn 1.5s ease-in;
}

.hunkerDownHeader {
  color: white;
  font-weight: 700;
  font-family: "Montserrat";
  font-style: italic;
  font-size: 25px;
  position: relative;
  left: 105px;
  animation: fadeIn 1.5s ease-in;
}
