.formWrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2rem auto;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.enterDetails {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
  padding-top: 2%;
  text-align: left;
  margin-bottom: 1rem;
}

.inputBox {
  display: flex;
  justify-content: left;

  margin-bottom: 1rem;
  width: 100%;
}

.input {
  padding: 0.8rem;
  padding-left: 1rem;
  background-color: #c9c9c9;
  border-radius: 8px;
  position: relative;
  width: 100%;
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.submitButton {
  border: 1px solid white;
  border-radius: 25px;
  padding: 0.3rem 2rem;
  margin-bottom: 0.5rem;
  color: white;
  background-color: #c01d14;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 600;
  width: auto;
  min-width: 8rem;
  transition: background-color 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: black;
  color: white;
}