@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  padding: 20px;
  top: 200px;
  width: 25%;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  animation: fadeIn 1.5s ease-in;
}

.inputBox {
  padding: 10px;
}

.input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  width: 95%;
}

.submitButton {
  padding: 10px;
  border: 1px solid white;
  border-radius: 30px;
  position: relative;
  width: 93%;
  left: 5px;
  background-color: #c01d14;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
}

.signIn {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 35px;
  position: relative;
  left: 10px;
}

.createAccount {
  font-family: "Monteserrat";
  font-weight: 400;
  font-size: 20px;
  position: relative;
  left: 10px;
}

.textWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

.signInBox {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.logoContainer {
  margin-left: auto;
  margin-top: -90px;
}

.logoContainer img {
  width: 80%;
  max-width: 100px;
}
