.formWrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  width: 85%;
  background-color: white;
  margin-top: 6rem;
  border-radius: 20px;
}

.signUpBox {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.signUp {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat";
  padding-left: 1.3rem;
}

.enterDetails {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.9rem;
  padding-left: 1.4rem;
}

.signIn {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 1rem;
}

.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35rem;
}

.input {
  padding: 0.3rem;
  padding-left: 0.7rem;
  background-color: #c9c9c9;
  border-radius: 8px;
  position: relative;
  width: 90%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submitButton {
  border: 1px solid white;
  border-radius: 25px;
  padding: 0.3rem 2rem;
  color: white;
  background-color: #c01d14;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 600;
  animation: fadeDown 1s ease-in;
  width: auto;
  min-width: 15rem;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}

.submitButton:hover {
  background-color: black;
  color: white;
}

@media (min-width: 375px) {
  .submitButton {
    min-width: 18rem;
  }
}

@media (min-width: 425px) {
  .submitButton {
    min-width: 18.5rem;
  }
}

@media (min-width: 1024px) {
  .signUp {
    padding-left: 1.5rem;
  }

  .enterDetails {
    padding-left: 1.6rem;
  }

  .submitButton {
    min-width: 21rem;
  }
}

@media (min-width: 1440px) {
  .submitButton {
    min-width: 23rem;
  }
}

@media (min-width: 1600px) {
  .submitButton {
    min-width: 21.5rem;
  }
}

@media (min-width: 2560px) {
  .formWrapper {
    width: 70%;
  }

  .signUp {
    font-size: 2.5rem;
    padding-left: 2.2rem;
  }

  .enterDetails {
    font-size: 1.4rem;
    padding-left: 2.2rem;
  }

  .signIn {
    font-size: 1.4rem;
  }

  .input {
    font-size: 1.7rem;
    width: 90%;
  }

  .submitButton {
    padding: 0.5rem 3rem;
    font-size: 1.7rem;
    min-width: 30.5rem;
  }

  .formWrapper {
    margin-top: 8rem;
    border-radius: 30px;
  }
}
