.welcomeHeader {
  font-family: "Sedan SC", sans-serif;
  font-size: 40px;
  font-weight: "700";
  padding-top: 50px;
  padding-left: 100px;
  color: white;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
